@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/roboto-400.woff2') format('woff2'), url('./fonts/roboto-400.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/roboto-700.woff2') format('woff2'), url('./fonts/roboto-700.woff') format('woff');
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.content-wrapper {
    width: 70%;
    min-width: 1024px;
    margin: 30px auto;
}

.header-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.home-link-icon {
    max-width: 25px;
}

.home-link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    width: 50px;
    height: 50px;
}

.basic-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
}

.basic-button:hover {
    background-color: #e3e3e3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
}

.basic-button:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background: lightgrey;
}

.login-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.login {
    margin-right: 40px;
}

.sign-in-button {
    width: 80px;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
    color: black;
}

.movie-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
}

.movie-card {
    position: relative;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
}

.movie-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}

.movie-card__link {
    display: block;
    text-decoration: none;
    color: black;
}

.movie-card__poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.movie-card__title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 18px;
}

.movie-card__link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.movie-card__realise-date,
.movie-card__vote-average {
    display: none;
}

.movie-card__realise-date {
    top: 10px;
}

.movie-card__vote-average {
    top: 265px;
}

.movie-card:hover > .movie-card__realise-date,
.movie-card:hover > .movie-card__vote-average {
    width: 100%;
    height: 25px;
    display: block;
    position: absolute;
    margin: 0;
    line-height: 25px;
    background-color: white;
    opacity: 0.8;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 30px auto;
    list-style: none;
}

.pagination-item__button {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 0;
}

.pagination-item__button.selected {
    background-color: black;
    color: white;
    font-weight: 700;
}

.pagination-item__button:disabled {
    background-color: lightgray;
    border: none;
}

.pagination-item__button:disabled:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
}

.footer-info {
    color: darkgray;
    font-size: 14px;
    text-align: center;
}

.movie-full-card {
    height: 850px;
}

.movie-full-card__poster {
    width: 300px;
    float: left;
    margin: 0 40px 20px 0;
}

.movie-full-card__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.movie-full-card__genres {
    list-style: none;
    display: flex;
    padding: 0;
}

.movie-genre {
    margin-right: 10px;
}

.error {
    margin: 50px auto;
    color: red;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.sorting-movies {
    width: 385px;
    margin: 50px auto;
}

#sorting-movies {
    margin-left: 10px;
}

.not-found-page {
    width: 600px;
    margin: 50px auto;
}

.not-found-title {
    margin: 100px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.form {
    width: 300px;
    margin: 50px auto;
}

.form__item {
    width: 300px;
    height: 35px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-error {
    color: red;
    margin-bottom: 10px;
}

.login-form-error {
    margin-top: 20px;
}

.registration__button, .form__button {
    width: 300px;
    margin-bottom: 20px;
}

.registration__button {
    color: white;
    background-color: black;
}

.registration__button:hover {
    background-color: #4e4d4d;
}

.preloading-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 700px;
}
.preloading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 12px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}
.preloading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.preloading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.preloading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.delete-button {
    position: absolute;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    background-image: url("./images/delete-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.edit-button {
    position: absolute;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 5px;
    background-image: url("./images/edit-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.full-movie-card__delete-button, .full-movie-card__edit-button {
    display: inline-block;
    position: inherit;
    margin-right: 30px;
    margin-bottom: 20px;
}

.add-movie {
    margin: 50px auto;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background-image: url("./images/add-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}
